<div class="flex items-center justify-center h-screen w-full">
    <div class="flex-col form p-12 rounded-xl mt-16 relative shadow">
        <h2 class="font-bold text-4xl mb-8">Login</h2>
        <form action="/login" method="POST">
            <% if(messages.error){ %>
                <span class="error text-sm">
                    <%= messages.error %>
                </span>
                <% } %>
                    <input class="w-full py-2.5 px-3 mt-6 rounded-md focus:shadow-xl hover:shadow-xl" type="email"
                        name="email" placeholder="Email" required />
                    <input class="w-full py-2.5 px-3 mt-6 rounded-md focus:shadow-xl hover:shadow-xl" type="password"
                        placeholder="Enter password" name="password" required />
                    <span class="flex items-center justify-end mt-2 text-sm">
                        <span> <a href="/forgot-password">forget password?</a> </span>
                    </span>
                    <div class="form__signinwith space-y-1">
                        <p>
                            <a class="flex items-center" href="/auth/google"> Login with
                                <img class="ml-2 object-contain w-5" src="/img/social/google.svg" alt="">
                            </a>

                        </p>
                        <p>
                            New to zinger? <span><a href="/register">sign up now</a></span>
                        </p>
                    </div>
                    <button type="submit" class="btn w-full mt-10 hover:shadow-xl">Login</button>
        </form>
        <img class="object-contain absolute -top-16 -left-16 w-60" src="/img/circles/Ellipse 1.svg" alt="">
        <img class="object-contain absolute -bottom-10 -right-10 w-32" src="/img/circles/Ellipse 2.svg" alt="">
    </div>
</div>