<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.css" />
    <title>Zinger</title>
</head>

<body>
    <nav class="flex items-center justify-between py-4 px-32 z-50 fixed top-0 left-0 right-0 w-full bg-white">
        <div>
            <a href="/">
                <img src="/img/logo/Zinger.svg" alt="" />
            </a>
        </div>
        <div class="flex items-center">
            <div>
                <ul class="flex items-center space-x-12">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Menu</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="mx-16 relative">
                <input class="w-80 py-2 px-2.5 pl-12 rounded-md focus:shadow-xl hover:shadow-xl" type="search"
                    name="search" id="search" placeholder="Search" />
                <div class="absolute left-3 top-0 bottom-0 flex items-center justify-center">
                    <img class="object-contain w-6" id="search__icon" src="/img/icons/search.svg" alt="search-icon" />
                </div>
            </div>
            <a class="flex items-center py-1.5 px-4 rounded-full hover:shadow-xl" id="nav__cart" href="#">
                <img class="object-contain" src="/img/icons/shopping-cart.svg" alt="shopping-cart-icon" />
                <span class="px-2">0</span>
            </a>
        </div>
    </nav>
    <!--
    <div class="home w-full h-screen relative px-32 mb-40">
        <img class="circle circle__small z-1" src="/img/circles/Circle Small.svg" alt="">
        <img class="circle circle__big z-1" src="/img/circles/Circle Big1.svg" alt="">
        <div class="absolute top-1/3 left-32" id="hero__text">
            <h3 class="font-medium text-xl mb-3">Are you hungry?</h1>
                <h1 class="font-medium text-7xl">Don't <span>Wait!</span></h1>
                <div class="flex items-center mt-12">
                    <a class="btn mr-4 hover:shadow-xl" href="#">Order Now</a>
                    <a class="btn_ghost hover:shadow-xl" href="#">View More</a>
                </div>
        </div>
        <img class="object-contain absolute top-1/4 right-32 max-w-xl" src="/img/eating_together.svg" alt="hero-image">
        <div class="absolute bottom-0 left-0 right-0 flex items-center justify-center">
            <a href="#">
                <img class="object-contain animate-bounce" src="img/icons/Arrow Down.svg" alt="">
            </a>
        </div>
    </div>
    <section class="flex items-center">
        <div class="flex-1 flex items-center justify-evenly text-center">
            <div class="info__item space-y-1">
                <img class="w-10 object-contain mx-auto mb-5" src="/img/icons/clock.svg" alt="">
                <h3 class="font-semibold">Today 10am - 7pm</h3>
                <h4>Working Hours</h4>
            </div>
            <div class="info__item space-y-1">
                <img class="w-10 object-contain mx-auto mb-5" src="/img/icons/pin.svg" alt="">
                <h3 class="font-semibold">Roorkee,Uttrakhand</h3>
                <h4>Get Directions</h4>
            </div>
            <div class="info__item space-y-1">
                <img class="w-10 object-contain mx-auto mb-5" src="/img/icons/phone-call.svg" alt="">
                <h3 class="font-semibold">+91 7345679834</h3>
                <h4>Call Now</h4>
            </div>

        </div>
    </section>
    <section>
        <h2 class="heading">Get Food Fast - Not Fast Food</h1>
            <p class="mt-12 max-w-3xl mx-auto text-center">Hello, we're Zinger, your new food ordering option and
                restaurant. We know you're always busy.
                No time for cooking. So let us take care of that, we're really good at it, we promise!</p>
    </section>

    <div class="food__gallery">
        <div class="flex food__items">
            <div>
                <img src="/img/food gallery/1.jpg" alt="">
            </div>
            <div>
                <img src="/img/food gallery/2.jpg" alt="">
            </div>
            <div>
                <img src="/img/food gallery/3.jpg" alt="">
            </div>
            <div>
                <img src="/img/food gallery/4.jpg" alt="">
            </div>
        </div>
        <div class="flex food__items">
            <div>
                <img src="/img/food gallery/5.jpg" alt="">
            </div>
            <div>
                <img src="/img/food gallery/6.jpg" alt="">
            </div>
            <div>
                <img src="/img/food gallery/7.jpg" alt="">
            </div>
            <div>
                <img src="/img/food gallery/8.jpg" alt="">
            </div>
        </div>
    </div>
    <section>
        <h2 class="heading">How It Works</h2>
        <div class="flex items-center mt-20">
            <div class="flex-1 flex justify-between text-center">
                <div class="flex-1 info__item space-y-6">
                    <img class="w-14 object-contain mx-auto mb-5" src="/img/icons/meal.svg" alt="">
                    <h3 class="font-medium text-2xl">Pick Meal</h3>
                    <h4 class="w-72 mx-auto">Choose a meal from our diverse weekly menu.</h4>
                </div>
                <div class="flex-1 info__item space-y-6">
                    <img class="w-14 object-contain mx-auto mb-5" src="/img/icons/document.svg" alt="">
                    <h3 class="font-medium text-2xl">Checkout</h3>
                    <h4 class="w-72 mx-auto">Fill address, all the necessary details and make payment.</h4>
                </div>
                <div class="flex-1 info__item space-y-6">
                    <img class="w-14 object-contain mx-auto mb-5" src="/img/icons/motorcycle.svg" alt="">
                    <h3 class="font-medium text-2xl">Fast Delivery</h3>
                    <h4 class="w-72 mx-auto">Your freshly prepared 15-min
                        dinner kit arrive on your doorstep
                        in a refigerated box.</h4>
                </div>

            </div>

        </div>
    </section>

    <section id='menu'>
        <h2 class="heading">Explore Our Best Menu</h2>
        <div class="flex justify-evenly mt-12">
            <div class="menu__item shadow-xl rounded-xl max-w-xs overflow-hidden">
                <img class="w-full object-cover object-center max-h-44" src="/img/menu/pav bhaji.jpg" alt="">
                <div class="py-6 px-4 space-y-8">
                    <div class="flex items-center justify-between">
                        <div>
                            <h3 class="font-medium text-2xl mb-1">Pav Bhaji</h3>
                            <div class="flex items-center space-x-2">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star grey.svg" alt="">
                            </div>
                        </div>
                        <span class="menu__price font-bold text-5xl">$20</span>
                    </div>
                    <a href="#" class="btn w-full flex items-center justify-center hover:shadow-xl">
                        <img class="mr-2 object-contain w-6" src="/img/icons/shopping-cart-white.svg" alt="">
                        Add to Cart</a>
                </div>
            </div>
            <div class="menu__item shadow-xl rounded-xl max-w-xs overflow-hidden">
                <img class="w-full object-cover object-center max-h-44" src="/img/menu/biryani.jpg" alt="">
                <div class="py-6 px-4 space-y-8">
                    <div class="flex items-center justify-between">
                        <div>
                            <h3 class="font-medium text-2xl mb-1">Biryani</h3>
                            <div class="flex items-center space-x-2">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                            </div>
                        </div>
                        <span class="menu__price font-bold text-5xl">$20</span>
                    </div>
                    <a href="#" class="btn w-full flex items-center justify-center hover:shadow-xl">
                        <img class="mr-2 object-contain w-6" src="/img/icons/shopping-cart-white.svg" alt="">
                        Add to Cart</a>
                </div>
            </div>
            <div class="menu__item shadow-xl rounded-xl max-w-xs overflow-hidden">
                <img class="w-full object-cover object-center max-h-44" src="/img/menu/chole bhature.jpg" alt="">
                <div class="py-6 px-4 space-y-8">
                    <div class="flex items-center justify-between">
                        <div>
                            <h3 class="font-medium text-2xl mb-1">Chole Bhature</h3>
                            <div class="flex items-center space-x-2">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star grey.svg" alt="">
                            </div>
                        </div>
                        <span class="menu__price font-bold text-5xl">$20</span>
                    </div>
                    <a href="#" class="btn w-full flex items-center justify-center hover:shadow-xl">
                        <img class="mr-2 object-contain w-6" src="/img/icons/shopping-cart-white.svg" alt="">
                        Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="flex justify-evenly mt-12">
            <div class="menu__item shadow-xl rounded-xl max-w-xs overflow-hidden">
                <img class="w-full object-cover object-center max-h-44" src="/img/menu/cake.jpg" alt="">
                <div class="py-6 px-4 space-y-8">
                    <div class="flex items-center justify-between">
                        <div>
                            <h3 class="font-medium text-2xl mb-1">Cake</h3>
                            <div class="flex items-center space-x-2">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star grey.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star grey.svg" alt="">
                            </div>
                        </div>
                        <span class="menu__price font-bold text-5xl">$20</span>
                    </div>
                    <a href="#" class="btn w-full flex items-center justify-center hover:shadow-xl">
                        <img class="mr-2 object-contain w-6" src="/img/icons/shopping-cart-white.svg" alt="">
                        Add to Cart</a>
                </div>
            </div>
            <div class="menu__item shadow-xl rounded-xl max-w-xs overflow-hidden">
                <img class="w-full object-cover object-center max-h-44" src="/img/menu/pizza.jpg" alt="">
                <div class="py-6 px-4 space-y-8">
                    <div class="flex items-center justify-between">
                        <div>
                            <h3 class="font-medium text-2xl mb-1">Pizza</h3>
                            <div class="flex items-center space-x-2">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                            </div>
                        </div>
                        <span class="menu__price font-bold text-5xl">$20</span>
                    </div>
                    <a href="#" class="btn w-full flex items-center justify-center hover:shadow-xl">
                        <img class="mr-2 object-contain w-6" src="/img/icons/shopping-cart-white.svg" alt="">
                        Add to Cart</a>
                </div>
            </div>
            <div class="menu__item shadow-xl rounded-xl max-w-xs overflow-hidden">
                <img class="w-full object-cover object-center max-h-44" src="/img/menu/coffee.jpg" alt="">
                <div class="py-6 px-4 space-y-8">
                    <div class="flex items-center justify-between">
                        <div>
                            <h3 class="font-medium text-2xl mb-1">Coffee</h3>
                            <div class="flex items-center space-x-2">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star.svg" alt="">
                                <img class="object-contain w-5" src="/img/icons/star grey.svg" alt="">
                            </div>
                        </div>
                        <span class="menu__price font-bold text-5xl">$20</span>
                    </div>
                    <a href="#" class="btn w-full flex items-center justify-center hover:shadow-xl">
                        <img class="mr-2 object-contain w-6" src="/img/icons/shopping-cart-white.svg" alt="">
                        Add to Cart</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="heading">Our Customers can’t live Without us</h2>
        <div class="flex justify-evenly mt-12 italic">
            <div class="max-w-xs">
                <p>Zinger is just awesome! I just launched a
                    startup which leaves me with no time for
                    cooking, so Zinger is a life-saver. Now
                    that I got used to it, I couldn't live without
                    my daily meals!</p>
                <div class="flex items-center mt-8">
                    <img class="object-fit object-center w-12 rounded-full mr-5" src="/img/reviews/customer-1.jpg"
                        alt="">
                    <span>Alberto Duncan</span>
                </div>
            </div>
            <div class="max-w-xs">
                <p>Inexpensive, healthy and great-tasting meals,
                    delivered right to my home. We have lots of
                    food delivery here in Lisbon, but no one comes
                    even close to Zinger. Me and my family are
                    so in love!</p>
                <div class="flex items-center mt-8">
                    <img class="object-fit object-center w-12 rounded-full mr-5" src="/img/reviews/customer-2.jpg"
                        alt="">
                    <span>Joana Silva</span>
                </div>
            </div>
            <div class="max-w-xs">
                <p>I was looking for a quick and easy food
                    delivery service in San Franciso. I tried
                    a lot of them and ended up with
                    Omnifood. Best food delivery service in
                    the Bay Area. Keep up the great work!</p>
                <div class="flex items-center mt-8">
                    <img class="object-fit object-center w-12 rounded-full mr-5" src="/img/reviews/customer-3.jpg"
                        alt="">
                    <span>Milton Chapman</span>
                </div>
            </div>
        </div>
    </section>
    <div id="footer" class="flex items-center justify-between py-6 px-32">
        <div class="flex items-center space-x-6">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="flex items-center space-x-4">
            <a class="flex items-center" href="#"><img class="w-5 object-contain mr-2"
                    src="/img/social/footer/facebook.svg" alt="">Facebook</a>
            <a class="flex items-center" href="#"><img class="w-5 object-contain mr-2"
                    src="/img/social/footer/instagram.svg" alt="">Instagram</a>
            <a class="flex items-center" href="#"><img class="w-5 object-contain mr-2"
                    src="/img/social/footer/twitter.svg" alt="">Twitter</a>
            <a class="flex items-center" href="#"><img class="w-5 object-contain mr-2"
                    src="/img/social/footer/envelope-solid.svg" alt="">Gmail</a>
        </div>
    </div>

    <div class="flex items-center justify-center h-screen w-full">
        <div class="flex-col form p-12 rounded-xl mt-16 relative shadow">
            <h2 class="font-bold text-4xl mb-8">Signup</h2>
            <form action="">
                <input class="w-full py-2.5 px-3  rounded-md focus:shadow-xl hover:shadow-xl" type="text" name="" placeholder="Username" id="" />
                <input class="w-full py-2.5 px-3 mt-6 rounded-md focus:shadow-xl hover:shadow-xl" type="email" name="" placeholder="Email" id="" />
                <input class="w-full py-2.5 px-3 mt-6 rounded-md focus:shadow-xl hover:shadow-xl" type="password" placeholder="Enter password" name="" id="" />
                <input class="w-full py-2.5 px-3 mt-6 rounded-md focus:shadow-xl hover:shadow-xl" type="password" placeholder="Re enter password" name="" id="" />
                <button type="submit" class="btn w-full mt-10 hover:shadow-xl">Submit</button>
            </form>
            <img class="object-contain absolute -top-16 -left-16 w-60" src="/img/circles/Ellipse 1.svg" alt="">
            <img class="object-contain absolute -bottom-10 -right-10 w-32" src="/img/circles/Ellipse 2.svg" alt="">
        </div>
    </div>

    <div class="flex items-center justify-center h-screen w-full">
        <div class="flex-col form p-12 rounded-xl mt-16 relative shadow">
            <h2 class="font-bold text-4xl mb-8">Login</h2>
            <form action="">
                <input class="w-full py-2.5 px-3 mt-6 rounded-md focus:shadow-xl hover:shadow-xl" type="email" name="" placeholder="Email" id="" />
                <input class="w-full py-2.5 px-3 mt-6 rounded-md focus:shadow-xl hover:shadow-xl" type="password" placeholder="Enter password" name="" id="" />
                <span class="flex items-center justify-end mt-2 text-sm">forget password?</span>
                 <div class="form__signinwith space-y-1">
                    <p class="flex items-center">
                        Login with <img class="ml-2 object-contain w-5" src="/img/social/google.svg" alt=""> 
                    </p><p>
                        New to zinger? <span>sign up now</span>
                    </p> 
                 </div>
                <button type="submit" class="btn w-full mt-10 hover:shadow-xl">Login</button>
            </form>
            <img class="object-contain absolute -top-16 -left-16 w-60" src="/img/circles/Ellipse 1.svg" alt="">
            <img class="object-contain absolute -bottom-10 -right-10 w-32" src="/img/circles/Ellipse 2.svg" alt="">
        </div>
    </div>


<div class="flex items-center justify-center h-screen w-full">
    <div class="flex-col form p-12 rounded-xl mt-16 relative shadow">
        <h2 class="font-bold text-4xl mb-8">Contact</h2>
        <form action="">
            <input class="w-full py-2.5 px-3  rounded-md focus:shadow-xl hover:shadow-xl" type="text" name="" placeholder="Name" id="" />
            <input class="w-full py-2.5 px-3 mt-6 rounded-md focus:shadow-xl hover:shadow-xl" type="email" name="" placeholder="Email" id="" />
            <textarea class="w-full py-2.5 px-3 mt-6 rounded-md focus:shadow-xl hover:shadow-xl" placeholder="Message" name="" id=""  rows="4"></textarea>
            <button type="submit" class="btn w-full mt-10 hover:shadow-xl">Submit</button>
        </form>
        <img class="object-contain absolute -top-16 -left-16 w-60" src="/img/circles/Ellipse 1.svg" alt="">
        <img class="object-contain absolute -bottom-10 -right-10 w-32" src="/img/circles/Ellipse 2.svg" alt="">
    </div>
</div>



    <div class="flex items-center justify-center h-screen w-full">
        <div class="text-center">
            <img class="object-contain max-w-sm" src="/img/empty_cart.svg" alt="">
            <h3 class="text-2xl mt-6">Your Cart is Empty</h3>
        </div>
    </div>

-->

    <div class="cart h-screen w-full px-32">
        <div class="flex items-center mt-40">
            <img class="object-contain w-6 mr-2" src="/img/icons/shopping-cart-order.svg" alt="" />
            <h2 class="text-2xl">Order Summary</h2>
        </div>
        <div class="my-10">
            <!--
            <div class="text-center flex items-center mb-8">
                <span class="font-medium w-1/2">Product</span>
                <span class="font-medium w-1/4">Pcs</span>
                <span class="font-medium w-1/4">Price</span>
            </div>
        -->
            <div class="cart__item flex items-center text-center rounded-xl justify-between">
                <div class="flex items-center overflow-hidden w-1/2">
                    <div class="mr-6 w-12 h-12 overflow-hidden rounded-md">
                        <img src="/img/menu/biryani.jpg" class="object-cover object-center" alt="" />
                    </div>
                    <span>Biryani</span>
                </div>
                <div class="w-1/2 flex items-center justify-between">
                    <div class="font-medium flex items-center space-x-4">
                        <button
                            class="rounded-full cart__item__increment hover:shadow-xl focus:outline-none text-2xl w-6 h-6 flex items-center justify-center">
                            +
                        </button>
                        <span>1</span>
                        <button
                            class="rounded-full cart__item__decrement hover:shadow-xl focus:outline-none text-2xl w-6 h-6 flex items-center justify-center">
                            -
                        </button>
                    </div>
                    <div class="font-medium text-2xl cart__item__price">$20</div>
                    <div>
                        <button class="focus:outline-none">
                            <img class="w-5 object-contain" src="/img/icons/delete.svg" alt="" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart__total max-w-sm p-6 rounded-xl ml-auto">
            <div class="space-y-4">
                <div class="flex item-center justify-between">
                    <span>Subtotal</span>
                    <span>$20</span>
                </div>
                <div class="flex item-center justify-between">
                    <span>Tax</span>
                    <span>$5</span>
                </div>
                <div class="flex item-center justify-between">
                    <span class="font-semibold text-xl">Total Amount</span>
                    <span class="font-bold cart__total__price text-2xl">$25</span>
                </div>
            </div>
            <div class="w-full mt-8">
                <a class="btn block w-full hover:shadow-xl focus:outline-none">Checkout</a>
            </div>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>